<!DOCTYPE html>
<html>
  <head>
    <title>Complains and Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <br>
      <br>
    <h1>Feedback</h1>
    <br>



      <table border = 1>
{% if (length > 0) %}
<tr>
<th>~FeedbackID~</th>
<th>~CustomerID~</th>
<th>~Feedback~</th>
</tr>
{% endif %}

{% if (length == 0) %}
<br>
<h5>No feedback...yet.<h5>
{% endif %}

          {% for value in data %}
        <tr>
<td>{{value[0]}}</td>
<td>{{value[1]}}</td>
<td>{{value[2]}}</td>







</tr>
{% endfor %}

      </table>


    </div>

  </body>
</html>
