<!DOCTYPE html>
<html>
  <head>
    <title>Feedback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <br>
      <br>
    <h1>We're eager to listen to your feedback :)</h1>
    <br>
    <br>
    <br>
    <h4>Write your feedback here<h4>
<form action="" method="post">
    <textarea name="feedbackbody" rows="3" cols="40" value={{request.form.feedbackbody}}>
    </textarea>
    <input class="btn btn-default" type="submit" value="Done">

  </form>
  <h4>
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
<h4>



    </div>

  </body>
</html>
