<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <br>
      <br>
    <h1>Your Profile</h1>
    <br>
      <strong>Name:</strong> {{ data.firstname }} {{data.lastname}}<br>
      <strong>Phone Number:</strong> {{ data.phone }} <br>
      <strong>Address:</strong> {{ data.address }} <br>
      <strong>Area:</strong> {{ data.area }} <br>

    </div>
  </body>
</html>
